<div class="container-fluid home p-1 p-sm-4 p-md-4 p-lg-4 pt-2">
  <header class="row d-flex align-items-center">
    <label for="" class="col-2 d-sm-block d-md-none d-lg-none pt-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
      </svg>
    </label>
    <div class="col-sm-10 col-10 col-md-4 col-lg-6 custom-img">
      <div class="img-header"></div>
    </div>
    <div class="col-md-7 col-8 col-lg-5 d-none d-md-block d-lg-block">
      <div class="category">
        <ul class="d-flex list-unstyled justify-content-between align-items-center mb-0 h-100">
          @for (item of lsCategories; track item.id) {
            <li [id]="item.id" class="fw-bold">
              {{ item.name }}
            </li>
          }
        </ul>
      </div>
    </div>
  </header>
  <main>
    <article>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                  aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          @for (item of lsImagesCarousel; track item.url) {
            <div class="carousel-item" [class.active]="item.url === lsImagesCarousel[0].url" data-bs-interval="3000">
              <img src="{{ item.url }}" class="d-block w-100 h-100" [alt]="item.alt">
            </div>
          }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </article>
    <article>
      <div class="bg-info text-center p-4">
        <h2 class="text-uppercase text-danger fw-bold">giới thiệu bản thân võ liên dai-ichi</h2>
        <hr class="text-danger fw-bold">
        <div class="row">
          @for (item of lsExperience; track item.name) {
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <h2 class="text-center fw-bold text-danger text-uppercase">{{ item.name }}</h2>
              <p class="text-center fw-bold fs-4" [ngClass]="{'mb-0': item.value2}">{{ item.value }}</p>
              @if (item.value2) {
                <p class="text-center fw-bold fs-4">{{ item.value2 }}</p>
              }
            </div>
          }
        </div>
      </div>
    </article>
    <article>
      <div class="reason row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 left">
          <div class="line"></div>
          <h4 class="text-center fw-bold text-danger text-uppercase mt-2">{{ reasonTitle }}</h4>
          <div class="line"></div>
          <p class="mb-0 text-start">
            {{ reasonParagraph }}
          </p>
          @for (item of lsReasonParagraph; track item.title) {
            <p class="mb-0 text-start mt-2">{{ item.title }}</p>
            <hr class="m-2">
          }
        </div>
        <div class="row col-12 col-md-12 col-lg-6 right mt-4">
          @for (item of lsImages; track item.url) {
            <div class="col-6 gap-2 text-center">
              <img [src]="item.url" [attr.alt]="item.content">
              <p class="text-uppercase fw-bold mt-2">{{ item.content }}</p>
            </div>
          }
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
          <button class="btn btn-warning text-uppercase fw-bold gradient-button">tư vấn ngay</button>
        </div>
      </div>
    </article>

    <article>
      <div class="package row row-gap-2">
        <div class="col-12 left">
          <div class="line d-block d-sm-none d-md-none d-lg-none"></div>
          <h2 class="text-center fw-bold text-danger text-uppercase mt-2">{{ followPacks }}</h2>
          <div class="line d-block d-sm-none d-md-none d-lg-none"></div>
        </div>
        @for (item of lsFollowPacks; track item.id) {
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 package-item">
            <div class="package-box w-100 mh-100 mw-100 h-100 border rounded-bottom-5 d-flex flex-column">
              <img [src]="item.url" [alt]="item.content" class="mw-100 h-auto">
              <div class="content ps-2 pe-2 pb-2 d-flex flex-column flex-shrink-1 flex-grow-1">
                <p class="text-uppercase text-center text-danger fw-bold mt-2">{{ item.title }}</p>
                <p>{{ item.content }}</p>
                <div class="d-flex align-items-center justify-content-center mt-auto">
                  <button class="btn btn-primary gradient-button text-uppercase custom-btn"
                          (click)="openDialog(item, dialogTemp)">chi tiết gói
                  </button>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </article>

    <article>
      <div class="feedback">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center fw-bold text-danger text-uppercase mt-2 mb-0">{{ feedback }}</h2>
            <div class="line d-block d-sm-none d-md-none d-lg-none bg-danger"></div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6 col-md-6 col-lg-3">
            <iframe
              src="https://www.facebook.com/plugins/video.php?height=476&amp;href=https%3A%2F%2Fwww.facebook.com%2Freel%2F1668170833970469%2F&amp;show_text=false&amp;width=267&amp;t=0&amp;autoplay=1"
              width="267" height="476"
              style="border:none;overflow:hidden;object-fit:cover;width:100%;height:100%;min-height:100vh;"
              scrolling="no" frameborder="0" allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
          </div>
        </div>
      </div>
    </article>
  </main>
</div>

<ng-template #dialogTemp let-data>
  {{ data }}
</ng-template>
