.home {
  //padding: 20px 40px;

  & header {
    margin-bottom: 20px;

    & label {
      & svg {
        cursor: pointer;
      }
    }

    & .img-header {
      width: 156px;
      height: 63px;

      background-image: url(https://w.ladicdn.com/s500x400/591e72e19d9be2016ec579a9/logo-dai-ichi-life-20240809071725-ps2wr.png);
      background-size: cover;
    }

    & .category {
      height: 62px;

      & li {
        cursor: pointer;

        &:hover {
          color: orange;
        }
      }
    }
  }

  & main {
    & article {
      margin-bottom: 20px;

      & .bg-info {
        width: 100%;
        min-height: 260px;
        background-image: url(/assets/img/bg-info.png);
        background-size: cover;
      }

      & .line {
        width: 100%;
        height: 4px;

        background-color: #ccc;

        border-radius: 4px;
      }

      & .reason {
        padding: 0 100px;

        & .right {
          & img {
            width: 160px;
            height: 160px;

            border-radius: 50%;

            object-fit: cover;
          }
        }
      }

      & .gradient-button {
        padding: 12px 24px;
        font-size: 20px;
        color: white;
        background: linear-gradient(45deg, #ea1717, #e36187);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 1s, transform 1s;
        animation: gradientAnimation 3s infinite alternate, scaleAnimation 3s infinite alternate;

      }

      & .gradient-button:hover {
        background: linear-gradient(45deg, #34c147, #bb95e6);
        transform: scale(1.05);
      }

      & .gradient-button:active {
        transform: scale(0.95);
      }

      & .package {
        & .package-item{
          min-height: 100%;
        }
        & .package-box {
          & .content {
            & button {
              &.custom-btn {
                font-size: 0.6rem;

                height: 2rem;
                line-height: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
  }
  50% {
    background: linear-gradient(45deg, #ea1717, #e36187);
  }
  100% {
    background: linear-gradient(45deg, #42e695, #3bb2b8);
  }
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .home {
    & header {
      & .custom-img {
        display: flex;
        justify-content: center;

        position: relative;
      }

      & .img-header {
        position: absolute;
        transform: translate(-30%, -36%);

        width: 118px;
        height: 48px;
      }
    }

    & main {
      & article {
        & .reason {
          padding: 0 20px;

          & .right {
            & img {
              width: 160px;
              height: 160px;
            }
          }
        }
      }
    }
  }
}
