<div class="">
  <div class="countdown-item d-flex align-items-center">
    <div class="countdown-value">{{hours()}}</div>
    <div class="countdown-label">Giờ</div>
  </div>
  <div class="countdown-separator">:</div>
  <div class="countdown-item">
    <div class="countdown-value">{{minutes()}}</div>
    <div class="countdown-label">Phút</div>
  </div>
  <div class="countdown-separator">:</div>
  <div class="countdown-item">
    <div class="countdown-value">{{seconds()}}</div>
    <div class="countdown-label">Giây</div>
  </div>
</div>
